/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--font-inter-text, Arial, Helvetica, sans-serif);
    font-variation-settings: 'wght'var(--font-weight-normal, 400);
  }
}

@supports ((text-stroke: 1px var(--bg-color, rgba(255, 255, 255, 1))) or (-webkit-text-stroke: 1px var(--bg-color, rgba(255, 255, 255, 1)))) {
  .card__about-lable {
    -webkit-text-stroke: 1px var(--bg-color, rgba(255, 255, 255, 1));
    text-stroke: 1px var(--bg-color, rgba(255, 255, 255, 1));
    text-shadow: none;
  }
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: var(--font-thickness-title-text);
}

.button {
  border: 2px solid var(--themes-mainColor, #000000);
  cursor: pointer;
  background: none;
}

.header {
  background-image: var(--background-img);
  background-size: cover;
  width: clamp(375px, 1440px, 1440px);
  height: clamp(667px, 960px, 960px);
  display: flex;
  align-items: center;
  margin-top: 102px;
  justify-content: center;
  flex-direction: column;
  gap: 107px;
}

.header__container {
  background-color: #FFFFFF;
  width: clamp(375px, 700px, 700px);
  height: clamp(327px, 368px, 368px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-press2P-text, Arial, Helvetica, sans-serif);
  color: #000000;
  text-transform: uppercase;
  font-weight: 400;
  border: 2px solid var(--themes-mainColor, #000000);
  padding-top: 102px;
  padding-bottom: 120px;
  margin-top: 392px;
}

.header__container-text {
  text-align: center;
}

.header__container-title {
  font-size: clamp(49px, 65px, 65px);
  margin-block: 20px;
}

.header__container-subtitle {
  font-size: clamp(14px, 23px, 23px);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(375px, 1440px, 1440px);
  height: clamp(667px, 960px, 960px);
  margin-top: clamp(450px, 476px, 476px);
}

.section {
  width: clamp(371px, 696px, 696px);
  height: clamp(329px, 1060px, 1060px);
  font-weight: 400;
  border: 2px solid var(--Themes-mainColor, #000000);
  background-color: #ffffff;
  margin-bottom: 54px;
}

.card__about {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.card__about-subtitle {
  font-weight: 700;
  font-size: 18px;
  padding: 3px 0px 3px 10px;
}

.card__about-paragraph {
  font-size: 18px;
  font-weight: 400;
  margin-top: 27px;
  padding: 0px 25px 0px 25px;
}

.card__about-img {
  width: 100%;
  height: clamp(371px, 696px, 696px);
}

.card__about-buttons {
  padding-top: 36px;
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
  align-items: center;
}

.card__like-button {
  position: relative;
  width: 130px;
  height: 38px;
  margin-left: 6px;
  transition: box-shadow 0.5s ease-in-out;
  overflow: hidden;
}

.card__like-button:focus {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--themes-mainColor);
}

.card__like-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.card__like-button:hover::before {
  transform: translateX(0);
  z-index: -1;
}

.button__text {
  font-family: var(--font-press2P-text, Arial, Helvetica, sans-serif);
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  position: relative;
  z-index: 2;
}

.card__icon-button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}

.card__about-svg {
  width: 21px;
  height: 21px;
  margin-right: 3.5px;
}

.card__about-save-container {
  display: flex;
  justify-content: center;
}

.card__about-save-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 96px;
  width: 335px;
  height: 51px;
}

.card__about-container-img {
  position: relative;
}

.card__about-lable {
  position: absolute;
  text-transform: uppercase;
  top: 3%;
  left: 82%;
  font-family: var(--font-press2P-text, Arial, Helvetica, sans-serif);
  font-weight: 400;
  color: #000000;
  mix-blend-mode: hard-light;
  text-shadow: 0 0 10px #ffffff;
  font-size: 14px;
}

dialog {
  position: fixed;
  inset: 0;
  transition: opacity 0.3s ease-in-out;
  width: 353px;
  height: 191px;
}

.dialog__container {
  display: flex;
  gap: 20px;
  align-items: center;
  line-height: 150%;
  margin: 10px 0 26px 20px;
}

.dialog__text {
  font-family: var(--font-press2P-text, Arial, Helvetica, sans-serif);
  font-size: 14px;
  text-transform: uppercase;
}

.dialog__button {
  width: 293px;
  height: 38px;
  font-family: var(--font-press2P-text, Arial, Helvetica, sans-serif);
  font-size: 14px;
  margin-left: 10px;
}

.card--1 {
  filter: blur(30px);
}

.card--2 {
  filter: brightness(5)
}

.card--3 {
  filter: contrast(3);
}

.card--4 {
  filter: grayscale(1);
}

.card--5 {
  filter: hue-rotate(30deg);
}

.card--6 {
  filter: invert(1);
}

.card--7 {
  filter: opacity(0.5);
}

.card--8 {
  filter: contrast(175%) brightness(3%);
}

@media (width <=375px) {
  .header {
    margin-top: 100px;
    gap: 50px;
  }

  .header__container {
    width: 375px;
    height: 323px;
    padding: 0;
    margin: 0 10px;
  }

  .header__container-title {
    font-size: 49px;
  }

  .header__container-subtitle {
    font-size: 14px;
  }

  .section {
    width: 355px;
    margin: 0 10px 50px;
  }

  .card__about-img {
    height: 355px;
  }

  .card__about-lable {
    left: 245px;
    font-size: 12px;
  }

  .card__about-save-button {
    width: 306px;
    height: 80px;
    flex-direction: column;
    gap: 8px;
    margin-top: 93px;
  }

  .card__about-svg {
    width: 28px;
    height: 28px;
  }

  dialog {
    width: 341px;
    height: 191px;
  }

  .dialog__container {
    margin: 30px 20px 26px;
  }

  .dialog__button {
    width: 293px;
    margin: 0 20px 30px;
  }
}
