:root {
  --font-inter-text: 'Inter-Variable';
  --font-press2P-text: 'PressStart2P';
  --font-thickness-main-text: 400;
  --font-thickness-title-text: 700;
  --themes-mainColor: #000000;
  --bg-color: rgba(255, 255, 255, 1);
  --background-img: 
    repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(
      to bottom,
      #e7e7e7 0.01%,
      #1a1a1a
    );
  --name: #FF0000;
  --heart-color: #FF0000;
  --contour-color: #000000;
  --accent-color: #000000;
}
